.Sobrenos-container{
    margin: 4rem 6rem;
    text-align: start;
}

.Sobrenos-container h1{
    padding-bottom: 1rem; 
    color: #C67A41;
    font-weight: 700;
}

.Sobrenos-container p{
    padding-bottom: 2rem;
    color: #D8A683;
    font-weight: 600;
}

@media screen and (max-width: 850px){
    .Sobrenos-container{
        margin: 4rem 2rem;
    }
}