.searchBar-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 1rem;
  margin-top: 7rem;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 25%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }
  .searchBar-icon {
    color: rgba(0, 0, 0, 0.26);
    margin-right: 2rem;
  }
  
  .searchBar-wrap input {
    font-size: 1.5rem;
    outline: none;
    border: none;
    width: 100%;
    background-color: #FFFFFF;
  }
  
  .searchBar-wrap input::placeholder {
    color: rgba(0, 0, 0, 0.26);
  }