.container-1 {
    max-width: 800px;
    margin: 4rem auto;
    padding: 20px;
  }
  
  .h1-h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .accordion__faq > div {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: column;
  }

  .accordion__faq > div:hover {
    background-color: #e0e0e0;
  }

  
  .accordion__faq-answer {
    color: #333;
    font-size: 18px;
    padding-top: 10px;
    line-height: 1.4;
    display: none;
  }

  .accordion__faq-answer.active{
    display: block;
  }

  .accordion__faq-answer.inactive{
    display: none;
  }
  
  .accordion__title {
    color: #333;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .accordion__faq-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  
  .accordion__faq-heading h3 {
    color: #333; 
    font-weight: 600;
    font-size: 20px;
  }
  
  .accordion__expand-button {
    font-size: 20px;
  }
  
