.container-1 {
  max-width: 700px;
  margin: 4rem auto;
  padding: 20px;
}

.h1-h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-align: left; /* Alinhamento à esquerda */
}

.accordion__faq {
  display: flex;
  flex-direction: column;
}

.accordion__faq-heading {
  background-color: #D09262; /* Cor de fundo para destacar o título */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion__faq-heading:hover {
  background-color: #C15F18; /* Cor mais escura ao passar o mouse */
}

.accordion__faq-heading h3 {
  color: #161412;
  font-size: 22px;
  margin: 0;
}

.accordion__faq-answer {
  color: #333;
  font-size: 18px;
  padding: 15px;
  line-height: 1.4;
  display: none;
  border: 1px solid #ccc; /* Borda ao redor da resposta */
  border-radius: 8px;
}

.accordion__faq-answer.active {
  display: block;
}

.accordion__expand-button {
  font-size: 20px;
  color: #161412;
}

.active .accordion__expand-button {
  transform: rotate(-45deg); /* Seta para baixo quando ativo */
}

.inactive .accordion__expand-button {
  transform: rotate(135deg); /* Seta para a direita quando inativo */
}
