.cuidadores {
  display: flex;
  flex-direction: column;
}

.home_panelList-wrap {
  flex: 1;
}

.home_panel-wrap {
  display: flex;
  flex-basis: 280px;
  padding: 1rem;
}

.home_list-wrap {
  flex-grow: 1;
  padding: 1rem;
  width: calc(100% - 280px);
  border-left: 1px solid #ddd;
  margin-left: 2rem;
}
