.footer {
    padding: 4rem 6rem;
    background-color: #402312;
    color: #fff;
}

.cima{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cima i{
    color: #fff;
    font-size: 2.1rem;
    margin-left: 1rem;
    padding-top: 2.5rem;
}

.cima i:hover{
    color: #C67A41;
}

.baixo{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.baixo div{
    display: flex;
    flex-direction: column;
}

.baixo h4{
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.baixo a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

.baixo a:hover{
    color: #C67A41;
}

@media screen and (max-width: 850px){
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .baixo div{
        width: 50%;
    }
}