::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #C67A41;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #94592c;
}


.testimonial--section {
    display: flex;
    padding: 112px 84.3px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fbfffd;
  }
  .testimonial--section--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .sections--heading {
    color: #161412;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  .text-md{
    margin-top: 15px;
  }
  .testimonial--section--card {
    padding: 42.6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42.6px;
    border-radius: 10px;
    border: 1.33px solid #161412;
    max-width: 500px;
    max-height: 390px;
    background-color: #fbfffd;
  }
  .testimonial--section--card--reviews {
    display: flex;
    align-items: flex-start;
    gap: 5.33px;
  }
  .testimonial--section--card--author--detail {
    display: flex;
    align-items: center;
    gap: 21.3px;
    padding-top: 20px;
  }
  .testimonial--author--name {
    font-weight: 600;
  }
  .testimonial--author--designation {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
  }
  #avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px; 
  }
  

.slick-slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 80%;
  margin: 0 auto;
}

.slick-list {
  position: absolute;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
}




