.services-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 140, 0, 0.1);
}


.image-container {
  flex: 1;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  height: 640px;
  margin-left: 90px;
  margin-top: 30px;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
  transition: filter 0.3s;
}

.image-container:hover img {
  filter: brightness(90%);
}

.content-container {
  flex: 1;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.services-title {
  margin-bottom: 45px;
  font-size: 55px;
}

.services-title h2 {
  font-size: 36px;
  margin: 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service {
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

.service img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  filter: brightness(85%) !important;
}

.read-more-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #b66629;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.read-more-button:hover {
  background-color: #ad774e;
}