/*.tutorial{
    margin: 4rem 6rem;
}

.tutorial h1{
    font-size: 2.2rem;
    color: #D39C75;
}

.primeiro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4.5rem;
}

.primeiro h2{
    padding-bottom: 1rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: #D8A683;
}

.primeiro p{
    text-align: start;
    font-size: 1.1rem;
    word-wrap: break-word;
    margin-left: 7rem;
    color: #D8A683;
}

.video{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.video video{
    width: 60%;
    height: 270px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}





@media screen and (max-width: 850px) {
    .tutorial {
        margin: 4rem 2rem;
    }
    .primeiro{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .primeiro p{
        width: 100%;
    }
    .video{
        width: 100%;
        margin: 1.8rem 0;
        justify-content: center;
    }
}

*/

.tutorial {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 4rem 6rem;
}

.tutorial h1 {
  font-size: 2.1rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  color: #C67A41;
}

.tutorial .primeiro,
.tutorial .segundo,
.tutorial .terceiro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  max-width: 800px;
}

.tutorial .primeiro {
  flex-direction: row;
}

.tutorial .segundo {
  flex-direction: row-reverse;
}

.tutorial .terceiro {
  flex-direction: row;
}

.tutorial .primeiro-texto,
.tutorial .segundo-texto,
.tutorial .terceiro-texto,
.tutorial .video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.tutorial .segundo-texto{
  padding: 70px;
}

.tutorial h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #d8a683;
}

.tutorial p {
  font-size: 17px;
  margin: 5px 0; 
  color: #d8a683;
  text-align: left;
  max-width: 300px;
  word-wrap: break-word;
}

.tutorial video {
  max-width: 100%;
  height: auto;
  padding: 20px;
}

.tutorial .video video {
  border-radius: 2.5rem;
  height: auto;
}
