.tutorial {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 4rem 6rem;
}

.tutorial h1 {
  font-size: 2.1rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
  color: #1a0d04;
  font-weight: bold;
}

.tutorial .primeiro,
.tutorial .segundo,
.tutorial .terceiro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  max-width: 800px;
}

.tutorial .primeiro {
  flex-direction: row;
}

.tutorial .segundo {
  flex-direction: row-reverse;
}

.tutorial .terceiro {
  flex-direction: row;
}

.tutorial .primeiro-texto,
.tutorial .segundo-texto,
.tutorial .terceiro-texto,
.tutorial .video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.tutorial .segundo-texto{
  padding: 70px;
}

.tutorial h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #1a0d04;
  font-weight: 700;
}

.tutorial p {
  font-size: 17px;
  margin: 5px 0; 
  color: #161412;
  text-align: left;
  max-width: 300px;
  word-wrap: break-word;
}

.tutorial video {
  max-width: 100%;
  height: auto;
  padding: 20px;
}

.tutorial .video video {
  border-radius: 2.5rem;
  height: auto;
}
